body{
    margin-left: 20px 
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p,h2,h3 {
    font-family: 'Roboto Slab', serif;
}

.code {
    background-color: #D3D3D3;
    border-radius: 20px;
    width: 50%;
    font-family: 'Inconsolata', monospace;
}